 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: 'Montserrat-bold', sans-serif;
     overflow-y: scroll;
     scroll-behavior: smooth;
 }

 #title {
     background-color: #ff4c68;
     color: white;
 }

 .container-fluid {
     padding: 3% 15%;
 }

 h1 {
     font-family: 'Montserrat-bold', sans-serif;
     font-size: 3.5rem;
     line-height: 1.5;
     font-weight: bold;
 }

 .title-img {
     width: 60%;
     transform: rotate(25deg);
     position: absolute;
 }

 .navbar {
     padding-bottom: 4.5rem;
 }


 .nav-item {
     padding: 0 18px;
 }

 .nav-link {
     font-family: 'Montserrat-light', sans-serif;
     font-size: 1.5rem;
 }

 .navbar-brand {
     font-family: 'ubuntu';
     font-weight: bold;
     font-size: 2rem;
 }

 .download-btn {
     margin: 5% 3% 5% 0;
 }

 #features {
     padding: 7% 15%;
 }

 .feature-box {
     text-align: center;
     padding: 5%;
 }

 h2 {
     font-family: 'Montserrat-light', sans-serif;
     font-weight: bold;
     font-size: 2.5rem;
     line-height: 1.5;
 }

 h3 {
     font-family: 'Montserrat-bold', sans-serif;
     font-weight: bold;
     font-size: 1.5rem;
 }

 p {
     color: #8f8f8f;
 }

 #features {
     padding: 7% 15%;
     background-color: white;
     position: relative;
     z-index: 1;
 }

 .icon {
     color: #ef8172;
     margin-bottom: 1rem;
 }

 .icon:hover {
     color: #ff4c68;
 }

 #testimonials {
     text-align: center;
     background-color: #ef8172;
     color: #fff;
 }

 .testimonial-img {
     width: 10%;
     border-radius: 100%;
     margin: 20px;
 }

 #press {
     background-color: #ef8172;
     text-align: center;
     padding-bottom: 3%;
 }

 .press-img {
     width: 15%;
     margin: 20px 20px 50px;
 }

 .carousel-item {
     padding: 7% 15%;
 }

 #pricing {
     padding: 100px;
     text-align: center;
 }

 .pricing-column {
     padding: 3% 2%;
 }

 .no-show {
     height: 42px;
     visibility: hidden;
 }

 #cta {
     background-color: #ff4c68;
     padding: 7% 15%;
     text-align: center;
 }

 .foot {
     width: 70%;
     font-size: 3.25rem;
     color: #fff;
     margin-left: 13%;
 }

 #footer {
     text-align: center;
     padding: 7% 15%;
 }

 .foot-icon {
     padding: 0 5px 10px;
 }

 @media (max-width: 990px) {
     .row {
         text-align: center;
     }

     .title-img {
         position: relative;
         transform: rotate(0);
     }
 }